@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer components{
    .item1{
        @apply flex flex-col align-middle justify-center text-center min-w-[100%] min-h-[30vh] 
    }
    .item2{
        @apply flex flex-row align-middle justify-evenly text-center min-w-[100%] min-h-[10vh] 
    }
    .item3{
        @apply w-[100%] h-[100%] m-auto p-[0] relative text-3xl text-gray-300 text-center bg-transparent border-transparent
    }
    .buttons{
        @apply w-[100%] h-[50%] m-auto p-[0] cursor-pointer text-2xl text-gray-300 text-center underline underline-offset-2 relative
    }
    .tags{
        @apply w-[100%] h-[50%] m-auto p-[0] text-2xl text-gray-300 text-center relative
    }
}
h1, button, input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}
button{
    transition: all;
}
button:hover{
    scale: 0.9;
}